.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-bottom: 1rem;
}

.footer a {
  margin: 0 10px 10px 10px;
}

.footer a.social {
  color: #22303C;
}