.header {
  display: flex;
  align-self: flex-start;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background: #22303C;
}

.header-left p {
  margin: 0 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.nav-item {
  margin-left: 10px;
}