.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  margin: 0 10px;
  /* Adjust the spacing as needed */
}

.footer a.social {
  color: #22303C;
  /* Change the color of the icons */
}